body{
	margin: 250px 100px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 24px;
	color: white;
	font-weight: 100;
}
html {
	/* this is the old bg img */
	/*
	background: url(images/dawn_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	background-color: hsl(0, 0%, 10%)	/* a very dark grey */
}
div#left_menu{
	float: left;
	width: 20%;
}
div.right_content{
	float: right;
	width: 78%;
}

div.left_menu_items{
	font-size: 30p;
}
a{
	color: white;
	text-decoration: none
}